# Dependencies
node_modules

# Build output
dist
dev-dist
build

# DB
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Logs
logs
*.log
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode
.idea

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Coverage
coverage

# Temporary files
tmp
temp

# Cache
.cache

# Tauri
src-tauri/target

# Docker
.docker

# Misc
*.local